[Unit]
Description=reportService uWSGI app
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /etc/ran-load-generator/reportService.ini
RuntimeDirectory=reportService
RuntimeDirectoryMode=0777
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
