[Unit]
Description=statusProvider uWSGI app
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /etc/ran-load-generator/statusService.ini
RuntimeDirectory=statusService
RuntimeDirectoryMode=0777
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
