[Unit]
Description=reporProvider uWSGI app
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /etc/ran-load-generator/reportProvider.ini
RuntimeDirectory=ran-load-generator
RuntimeDirectoryMode=0777
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
